.search-form {
 height: 100%;
 width: 100vw;
 padding: .5em .75em;
 overflow-y: scroll;
 box-shadow: 0 0 10px rgba(0, 0, 0, .15);

 &::-webkit-scrollbar,
 ::-webkit-scrollbar {
  width: 7px;
  background: transparent;
 }

 &::-webkit-scrollbar-thumb,
 ::-webkit-scrollbar-thumb {
  background: $accent;
  border-radius: 10px;
 }

 h1 {
  font-size: 1.4rem;
 }

 @include laptop-and-up {
  min-width: 50vw;
  max-width: 70vw;
  border-radius: rem(5);
  height: 80%;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
 }

 div {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  margin: rem(8) 0;

  &.title {
   div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
     font-size: 1.2rem;
     width: max-content;

    }

    .controls {
     display: flex;
     margin: 0;
     align-items: center;
     flex-direction: row;
     width: max-content;
     height: max-content;
     gap: rem(8);

     button {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      max-width: max-content;
      min-width: max-content;
      border: none;
      color: inherit;

      &:hover,
      &:focus {
       background: transparent;
       position: relative;


       &::after {
        position: absolute;
        content: attr(data-tooltip);
        width: max-content;
        height: max-content;
        top: 100%;
        left: 50%;
        text-transform: capitalize;
        color: inherit;
        transform: translateX(-50%);
        font-size: .6em;
        font-weight: normal;
        padding: 0.15em .5em;
        border-radius: 2px;
        background: rgba(0, 0, 0, .15);
       }
      }

      &.submit {
       color: currentColor;

       &:hover,
       &:focus {
        svg {
         color: $accent;
        }
       }
      }

      &.clear,
      &.close {

       &:hover,
       &:focus {
        svg {
         color: red;
        }
       }
      }
     }
    }
   }

   p {
    font-size: .9em;
   }

   span {
    color: $accent;
    padding: .1em .25em;
    width: max-content;
    border-radius: 2px;
   }
  }

  &.controls {
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;

   button {
    flex-grow: 1;
    width: max-content;
    min-width: 150px;
    max-width: max-content;
    padding: .5rem;
    color: inherit;
    background: inherit;
    border-radius: rem(2);
    border: rem(2) solid transparent;
    transition: .1s ease-in all;

    @include mobile {
     min-width: max-content;
    }

    &.submit {
     color: $accent;
     border-color: $accent;

     &:hover,
     &:focus {
      font-weight: bold;
      color: inherit;
      background: $accent;
     }
    }

    &.clear {
     border-color: red;
     color: red;
     background: inherit;

     &:hover,
     &:focus {
      background: red;
      font-weight: bold;
      color: inherit;
     }
    }
   }
  }

  label {
   width: 100%;
   display: flex;
   justify-content: space-between;

   sub {
    display: initial;
    color: $accent;
   }
  }

  input,
  select {
   padding: .5em;
   background: rgba(0, 0, 0, .125);
   border: none;
   color: inherit;
   border-radius: 3px;
  }

  option {
   &:active {
    background: red;
   }
  }

  input {
   &::placeholder {
    opacity: .4;
   }
  }
 }
}